:root {
    --deviceWidth: 500px;
    --deviceHeigth: 750px;
    --calcWindow-width: calc(var(--deviceWidth) - 100px);
    --calcWindow-height: calc(var(--deviceHeigth) - 650px);
}

.game-width {
    
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: var(--deviceWidth);
    height: var(--deviceHeigth);
    border: 5px solid black;
    border-radius: 50px;
}

.window {
    margin: auto;
    margin-top: 30px;
    width: var(--calcWindow-width);
    height: var(--calcWindow-height);
    border: 2px solid black;
}

.input {
    margin: auto;
    margin-top: 30px;
    width: var(--calcWindow-width);
}

.button {
    
}