:root {
    --deviceWidth: 500px;
    --deviceHeigth: 750px;
    --calcWindow-width: calc(var(--deviceWidth) - 100px);
    --calcWindow-height: calc(var(--deviceHeigth) - 650px);
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** MAIN CALCULATOR SECTION **/

.calculator {
    width: var(--deviceWidth);
    height: var(--deviceHeigth);
    border: 5px solid black;
    border-radius: 50px;
}

/** WINDOW SECTION **/

.window {
    margin: auto;
    margin-top: 50px;
    width: var(--calcWindow-width);
    height: var(--calcWindow-height);
    border: 2px solid black;    
    font-size: 30px;
}



/** INPUT SECTION **/

.input {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: var(--calcWindow-width);
}

.input-row {
    display: flex;
    width: var(--calcWindow-width);
    justify-content: space-between;
}

.button {
    margin-bottom: 40px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    font-size: x-large;
    font-weight: 500;
}